Repository herndev/smart-queue-capstone: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, prettier --list-different

.lintstagedrc.json:

{
  "*.tsx": ["prettier --write", "eslint"],
  "*.ts": ["prettier --list-different", "eslint"],
  "*.html": ["eslint", "prettier --write"],
  "*.css": "prettier --write"
}

complete setup husky git lint stage
  .lintstagedrc.json
Due: none

adjusted git stage
  .lintstagedrc.json
Due: none

Create npm-publish.yml
  .github/workflows/npm-publish.yml
Due: none

langding revamp
  app/page.tsx
  assets/logo.png
  styles/globals.css
Due: prettier --write, eslint

added linter config
  prettier.config.js
  test.ts
Due: eslint, prettier --list-different

added custtom configs
  app/layout.tsx
  app/page.tsx
  assets/fonts/CalSans-SemiBold.ttf
  assets/fonts/CalSans-SemiBold.woff
  assets/fonts/CalSans-SemiBold.woff2
  assets/fonts/Inter-Bold.ttf
  assets/fonts/Inter-Regular.ttf
  styles/globals.css
Due: prettier --write, eslint

adjusted config prettier
  package.json
  pnpm-lock.yaml
  prettier.config.js
Due: none

constructed landing page
  app/page.tsx
  assets/bg-svg.png
  components/ui/button.tsx
Due: prettier --write, eslint

build concern page
  app/(purpose)/purpose/page.tsx
  app/page.tsx
  assets/logo.png
  prettier.config.js
  styles/globals.css
Due: prettier --write, eslint

constructed choose purpose component page
  app/(purpose)/purpose/page.tsx
Due: prettier --write, eslint

added form and border px button
  app/(purpose)/purpose/page.tsx
  app/page.tsx
  components/ui/form.tsx
  components/ui/label.tsx
  package.json
  pnpm-lock.yaml
  styles/globals.css
Due: prettier --write, eslint

concern page finished
  app/(purpose)/purpose/concern/page.tsx
Due: prettier --write, eslint

fet: build concern routing and component
  .env
  app/(purpose)/purpose/concern/page.tsx
  app/(purpose)/purpose/page.tsx
  app/page.tsx
  app/thankyou/page.tsx
Due: prettier --write, eslint

finish build consumer UI
  app/(purpose)/purpose/payment/page.tsx
  prettier.config.js
Due: prettier --write, eslint

adjust import order config
  prettier.config.js
Due: none

finish build consumer ui
  app/(purpose)/purpose/payment/page.tsx
  components/account-input.tsx
Due: prettier --write, eslint

added
  components/ui/toast.tsx
  prettierrc.json
Due: prettier --write, eslint

fet: added account input and validation form
  app/(purpose)/purpose/payment/page.tsx
  components/account-input.tsx
  components/ui/input.tsx
  components/ui/select.tsx
  components/ui/textarea.tsx
  components/ui/toaster.tsx
  components/ui/use-toast.ts
  package.json
  pnpm-lock.yaml
  prettier.config.js
Due: prettier --write, eslint, prettier --list-different

to be added input validation checks
  .lintstagedrc.json
  app/(purpose)/purpose/payment/page.tsx
  components/account-input.tsx
  package.json
Due: prettier --write, eslint

fet: added account number input validation
  .env
  .gitignore
  app/(purpose)/purpose/payment/page.tsx
  components/account-input.tsx
Due: prettier --write, eslint

fet: complete input validation payment page
  app/(purpose)/purpose/payment/page.tsx
  components/ui/button.tsx
  styles/globals.css
Due: prettier --write, eslint

fet: navigate consumer back to homepage after ticket generation
  app/thankyou/page.tsx
Due: prettier --write, eslint

save and retrieve account number state
  app/(purpose)/purpose/payment/page.tsx
  app/page.tsx
  app/thankyou/page.tsx
  components/account-input.tsx
Due: prettier --write, eslint

added thank you emoji on thankyou page
  app/(purpose)/purpose/page.tsx
  app/(purpose)/purpose/payment/page.tsx
  app/thankyou/page.tsx
  assets/bg-waves.png
  assets/thanksEmoji.png
Due: prettier --write, eslint

added bgwaves on landing page
  app/page.tsx
  app/thankyou/page.tsx
  styles/globals.css
Due: prettier --write, eslint

purpose page applied waves bg
  app/(purpose)/purpose/page.tsx
  app/page.tsx
Due: prettier --write, eslint

revamped UI
  app/(purpose)/purpose/concern/page.tsx
  app/(purpose)/purpose/payment/page.tsx
  app/thankyou/page.tsx
Due: prettier --write, eslint

constructed admin dashboard UI
  app/(teller)/admin/dashboard/page.tsx
Due: prettier --write, eslint

Create dependabot.yml
  .github/dependabot.yml
Due: none

update readme
  README.md
Due: none

build initial account form for admin
  app/(teller)/admin/page.tsx
  components/account-form.tsx
Due: prettier --write, eslint

build separator component
  components/ui/separator.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

added popover components
  components/account-form.tsx
  components/ui/popover.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

build dialog and command components
  components/ui/command.tsx
  components/ui/dialog.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

built calendar component for account form
  components/ui/calendar.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

built card form components for admin form
  components/ui/card.tsx
Due: prettier --write, eslint

build login form for teller login
  app/(teller)/admin/Form.tsx
  app/(teller)/admin/page.tsx
Due: prettier --write, eslint

fix: icons lucide types deps bug
  components/account-form.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

built login form for admin
  app/(teller)/admin/page.tsx
Due: prettier --write, eslint

fet: built login admin form and dashboard ui
  app/(teller)/admin/page.tsx
Due: prettier --write, eslint
