Repository herndev/smart-queue-capstone: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, prettier --list-different

.lintstagedrc.json:

{
  "*.tsx": ["prettier --write", "eslint"],
  "*.ts": ["prettier --list-different", "eslint"],
  "*.html": ["eslint", "prettier --write"],
  "*.css": "prettier --write"
}

fet: add dynamic number serving and concern type
  app/(teller)/admin/dashboard/page.tsx
Due: prettier --write, eslint

latest
  app/(teller)/admin/dashboard/page.tsx
Due: prettier --write, eslint

chore: initial BE integration
  client/app/(purpose)/purpose/concern/page.tsx
  client/app/(purpose)/purpose/payment/page.tsx
  client/app/(teller)/login/dashboard/page.tsx
  client/components/account-input.tsx
  client/hooks/useRequest.ts
  client/package-lock.json
Due: prettier --write, eslint, prettier --list-different

Update README.md
  client/README.md
Due: none

[ImgBot] Optimize images
  assets/bg-waves.png
  assets/logo.png
  assets/thanksEmoji.png
  client/assets/bg-waves.png
  client/assets/logo.png
  client/assets/thanksEmoji.png
  client/public/vercel.svg
  public/vercel.svg
Due: none
